@font-face {
	font-family: 'Gilroy-Regular';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Gilroy-Regular.woff2);
}

@font-face {
	font-family: 'Gilroy-Medium';
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Gilroy-Medium.woff2);
}

@font-face {
	font-family: 'Gilroy-Bold';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Gilroy-Bold.woff2);
}

@font-face {
	font-family: 'GothamProNarrow-Bold';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/GothamProNarrow-Bold.woff2);
}

:root {
	--white: #fff;
	--primary-color: #3b4056;
	--secondary-color: #459cd6;
	--color-grey: #eee;
}

body {
	background-color: var(--white);
	font-size: 20px;
	font-family: 'Gilroy-Regular';
	font-style: normal;
	font-weight: 400;
	color: var(--primary-color);
	margin: 0;
	padding: 0;
}

.no-scroll {
	overflow-y: hidden;
}

*,
*::after,
::before {
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: 'GothamProNarrow-Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
}

h2 {
	text-transform: uppercase;
}

ul,
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

.header {
	background-color: transparent;
	padding: 27px 0;
	border-bottom: 1px solid #747474;
	position: absolute;
	width: 100%;
	z-index: 10;
	transition: opacity 0.2s linear;
}

.header.fixed {
	position: fixed;
	padding: 15px 0;
	opacity: 0.5;
	background-color: var(--primary-color);
	z-index: 1000;
}

.header.fixed:hover {
	opacity: 1;
}

.header.fixed .nav-dropdown__menu {
	border: 1px solid var(--secondary-color);
}

.header.hidden {
	transform: translateY(-100%);
}

/* .header--background {
	background-color: var(--primary-color);
} */

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	margin-bottom: -7px;
	z-index: 1000;
}

.header__logo img {
	width: 200px;
}

.nav__list {
	display: flex;
}

.nav__item + .nav__item {
	margin-left: 20px;
}

.nav__link {
	color: var(--white);
	font-size: 18px;
	font-family: 'Gilroy-Medium';
	font-style: normal;
	font-weight: 500;
	padding: 5px 0;
	transition: color 0.2s linear;
}

.nav__link--dropdown::after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 3.5px 0 3.5px;
	border-color: #ffffff transparent transparent transparent;
	margin-left: 5px;
	padding-bottom: 2px;
	transition: border 0.2s linear;
}

.nav-dropdown {
	position: relative;
}

.nav-dropdown:hover .nav-dropdown__menu {
	opacity: 1;
	visibility: visible;
}

.nav-dropdown:hover .nav__link--dropdown {
	color: var(--secondary-color);
}

.nav-dropdown:hover .nav__link--dropdown::after {
	border-color: var(--secondary-color) transparent transparent transparent;
}

.nav-dropdown__menu {
	position: absolute;
	left: 0;
	top: 25px;
	width: 200px;
	background-color: var(--white);
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.nav-dropdown__menu--big {
	width: 240px;
}

.nav-dropdown__menu .nav__link {
	color: var(--primary-color);
	font-family: 'Gilroy-Regular';
	font-size: 18px;
	font-weight: 400;
	width: 100%;
	padding: 20px 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: none !important;
}

.nav-dropdown__menu .nav__link:hover {
	background: var(--secondary-color);
	color: var(--white);
}

.header__number {
	font-size: 18px;
	color: white;
}

.nav__link:hover,
.header__number:hover {
	color: var(--secondary-color);
	transition: color 0.2s linear;
}

.burger {
	width: 57px;
	height: 57px;
	background-color: transparent;
	border-radius: 5px;
	outline: none;
	border: none;
	position: relative;
	z-index: 1003;
	cursor: pointer;
	display: none;
}

.burger__item {
	display: block;
	font-size: 0;
	width: 35px;
	height: 4px;
	background: #ffffff;
	border-radius: 42px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out;
}

.burger__item::before,
.burger__item::after {
	content: '';
	display: block;
	width: 35px;
	height: 4px;
	background: #ffffff;
	border-radius: 42px;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.burger__item::after {
	top: 10px;
}

.burger__item::before {
	top: -10px;
}

.burger.show .burger__item::before {
	transform: translateY(-50%) rotate(-45deg);
	opacity: 0;
}

.burger.show .burger__item {
	transform: rotate(-45deg) translate(-11px, -13px);
}

.burger.show .burger__item::after {
	transform: rotate(90deg) translate(-9px, 0px);
}

.burger__menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	height: 100vh;
	background-color: var(--primary-color);
	padding: 87px 50px;
	opacity: 0;
	visibility: none;
	transform: translateY(-100%);
	transition: all 0.2s ease-in;
}

.burger__menu.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.burger__menu .header__logo {
	margin-bottom: 20px;
	display: block;
}

.burger__menu .nav__list {
	flex-direction: column;
	align-items: center;
}

.burger__menu .nav__list .nav__item {
	margin-left: 0;
	margin-bottom: 20px;
}

.burger__menu .header__number {
	display: block;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 24px;
}

.burger__menu .intro__links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 20px;
	align-items: center;
	position: static;
	font-size: 22px;
}

.burger__menu .intro__links .call__link::before {
	margin-left: 0;
}

.intro {
	width: 100%;
	height: 940px;
	overflow-x: hidden;
	position: relative;
}

.intro-slider {
	position: relative;
	z-index: 1;
}

.intro__controls {
	display: flex;
	justify-content: space-between;
	padding-right: 36px;
	align-items: center;
	position: absolute;
	height: 100px;
	width: 50%;
	background-color: var(--white);
	bottom: 0;
	left: 0;
	z-index: 3;
}

.intro__down-btn {
	display: block;
	height: 100px;
	width: 27%;
	background-color: #f7f8fa;
	order: -2;
	position: relative;
	transition: background 0.2s linear;
}

@keyframes fly {
	0% {
		transform: translate(-50%, -50%);
	}

	50% {
		transform: translate(-50%, 40%);
	}

	100% {
		transform: translate(-50%, -50%);
	}
}

.intro__down-btn::before {
	content: '';
	display: block;
	background: url(../img/dropdown-arrow.png) 0 0 no-repeat;
	width: 24px;
	height: 13px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.intro__down-btn:hover {
	background-color: #e2e2e2;
}

.intro__down-btn:hover.intro__down-btn::before {
	animation: fly 1s ease-in-out infinite;
}

.intro-slider__slick-next,
.intro-slider__slick-prev {
	padding: 0;
	border: none;
	cursor: pointer;
	background: url(../img/noun_Arrow_2094744.svg) 0 0 no-repeat;
	width: 30px;
	height: 48px;
	margin-bottom: -24px;
}

.intro-slider__slick-next {
	margin-left: 40px;
}

.intro-slider__slick-prev {
	transform: rotate(180deg) translateY(18px);
}

.slick-dots {
	display: flex !important;
	order: -1;
}

.slick-dots li {
	margin: 0 15px;
	margin-top: -9px;
}

.slick-dots li button {
	padding: 0;
	font-size: 0;
	cursor: pointer;
	border: none;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #d6d6d6;
	transition: background 0.2s linear;
}

.slick-dots li.slick-active button {
	background: var(--secondary-color);
}

.slick-dots li.slick-active {
	position: relative;
}

.slick-dots li.slick-active::before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid var(--color-grey);
	position: absolute;
	top: calc(50% + 6px);
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.2s linear;
}

.intro__inner {
	position: absolute;
	top: 180px;
	z-index: 1;
}

.intro__title {
	font-size: 60px;
	color: var(--white);
	text-transform: uppercase;
	margin-bottom: 80px;
}

.intro__list {
	margin-bottom: 47px;
	display: inline-block;
}

.intro__item {
	color: var(--white);
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.intro__item::before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: var(--secondary-color);
	border-radius: 50%;
}

.intro__btn {
	height: 55px;
	width: 250px;
	display: inline-block;
	background: var(--white);
	line-height: 55px;
	font-size: 15px;
	color: var(--secondary-color);
	font-family: 'Gilroy-Medium';
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	transition: color 0.2s ease-in-out;
}

.intro__btn + .intro__btn {
	margin-left: 30px;
}

.intro__btn p {
	position: absolute;
	left: calc(50% + 20px);
	transform: translate(-50%, 0);
	z-index: 100;
}

.btn__img {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 100;
}

.intro__btn::before {
	content: '';
	color: transparent;
	display: block;
	height: 55px;
	width: 55px;
	position: absolute;
	left: 0;
	background: var(--secondary-color);
	transition: all 0.2s ease-in-out;
	z-index: 1;
}

.intro__btn:hover {
	color: var(--white);
}

.intro__btn:hover.intro__btn::before {
	width: 100%;
}

@keyframes puls {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.1);
		opacity: 0.8;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.intro-btn--flex {
	display: flex;
	justify-content: center;
}

.intro__btn-video-wrapper {
	display: block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	position: relative;
	transition: all 0.2s linear;
}

.intro__btn-desc {
	font-family: 'Gilroy-Medium';
	font-weight: 500;
	color: var(--white);
	position: absolute;
	top: 50%;
	right: -50px;
	transform: translate(0, -50%);
}

.intro__btn-video-wrapper::before {
	content: '';
	display: block;
	width: 250px;
	height: 250px;
	margin-bottom: -25px;
	border-radius: 50%;
	background: linear-gradient(
		90deg,
		var(--secondary-color) -28.5%,
		rgba(255, 94, 20, 0) 95.22%
	);
	transition: all 0.2s linear;
	animation: puls 3s ease-in-out infinite;
}

.intro__btn-video {
	border: none;
	padding: 0;
	font-size: 0;
	background-color: #dd6630;
	height: 92px;
	width: 92px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.2s linear;
}

.intro__btn-video span {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	top: 50%;
	left: calc(50% + 2px);
	transform: translate(-50%, -50%);
}

.container--relative {
	position: relative;
	z-index: 2;
}

.intro__links {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.intro__links a {
	color: var(--white);
	font-size: 16px;
	font-family: 'Gilroy-Medium';
	font-weight: 500;
}

.intro__popup-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	opacity: 0.5;
	background-color: #000;
}

.call__link {
	position: relative;
}

.call__link::before {
	content: '';
	display: inline-block;
	background: url(../img/call_icon.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 6px;
	margin-bottom: -1px;
	margin-left: 20px;
}

.mail__link::before {
	content: '';
	display: inline-block;
	background: url(../img/message.png) 0 0 no-repeat;
	width: 18px;
	height: 14px;
	margin-right: 7px;
	margin-bottom: -1px;
}

@keyframes shake {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(-20deg);
	}

	75% {
		transform: rotate(20deg);
	}

	100% {
		transform: rotate(0);
	}
}

.call__link:hover.call__link::before {
	animation: shake 0.5s ease-in-out;
}

.mail__link:hover.mail__link::before {
	animation: shake 0.5s ease-in-out;
}

/*************** modal *************/

.intro-modal__overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	z-index: 4;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.intro-modal__content {
	padding-top: 25px;
	position: relative;
}

.intro-modal__close-btn {
	border: none;
	padding: 0;
	width: 20px;
	height: 20px;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	opacity: 0.4;
	right: 0;
	top: 0;
	transition: opacity 0.2s linear;
}

.intro-modal__close-btn:hover {
	opacity: 1;
}

.intro-modal__close-btn span {
	font-size: 0;
	display: block;
}

.intro-modal__close-btn span::after,
.intro-modal__close-btn span::before {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 4px;
	background-color: var(--white);
}

.intro-modal__close-btn span::after {
	transform: rotate(-45deg) translate(1px, -1px);
}

.intro-modal__close-btn span::before {
	transform: rotate(45deg) translate(1px, 1px);
}

.intro-modal__video {
	width: 720px;
	height: 440px;
}

.section {
	padding: 150px 0;
}

.section__title {
	margin-bottom: 50px;
}

.about {
	padding-bottom: 0;
}
.about__text {
	font-size: 18px;
}

.about__text + .about__text {
	margin-top: 35px;
	margin-bottom: 60px;
}

.more-link {
	width: 220px;
}

.more-link--mobile {
	display: none;
}

.news .more-link {
	width: 148px;
}

.more-link__icon {
	transition: all 0.2s linear;
	margin-bottom: -1px;
	fill: var(--color-grey);
}

.more-link:hover .more-link__icon {
	fill: var(--secondary-color);
}

.section__link {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Gilroy-Bold';
	font-weight: 700;
	position: relative;
	z-index: 100;
	background: var(--white);
	padding: 2px;
	transition: color 0.2s linear;
}

.section__link::after {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid var(--color-grey);
	position: absolute;
	right: -30px;
	top: 50%;
	background-repeat: no-repeat;
	transform: translate(0, -50%);
	z-index: -1;
	transition: border 0.2s linear;
}

.section__link:hover {
	color: var(--secondary-color);
}

.section__link:hover.section__link::after {
	border-color: var(--secondary-color);
}

.about-slider__wrapper {
	position: relative;
}

.about-slider__controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	height: 100px;
	width: 280px;
	background-color: var(--white);
	bottom: 0;
	right: 0;
	z-index: 10;
	padding: 0 28px;
}

.about-slider {
	position: relative;
	z-index: 1;
}

.about-slider__slick-next {
	margin-left: 30px;
}

.about-slider__controls-wrapper {
	padding-top: 20px;
}
.about-slider__counter {
	font-family: 'Gilroy-Medium';
	font-weight: 500;
	font-size: 18px;
	color: #d6d6d6;
	transition: all 0.2s linear;
	order: -1;
}

.about-slider__counter::first-letter {
	font-size: 36px;
	letter-spacing: 0;
}

.about-slider .slick-list {
	height: 540px;
}

/* ================ production ================ */

.production {
	position: relative;
	top: -100px;
}
.production:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 82%;
	width: 100%;
	background-color: #f7f8fa;
	z-index: -1;
}

.production-experience {
	padding-left: 12px;
	height: 96px;
	margin-bottom: 200px;
}

.production-experience span {
	color: #fff;
	background-color: var(--secondary-color);
	font-size: 60px;
	font-family: 'Gilroy-Bold';
	width: 96px;
	padding: 12px;
}

.production-experience p {
	font-family: 'Gilroy-Bold';
	color: var(--secondary-color);
	font-size: 30px;
	margin: auto 0;
	margin-left: 30px;
	line-height: 30px;
}

.production-info__title {
	margin-bottom: 80px;
}

.production-info__text {
	margin-bottom: 40px;
}

.production-info__items {
	margin-top: 100px;
	display: flex;
}
.production-info__item:not(:first-child) {
	margin-left: 40px;
}

.production-info__item-img {
	width: 50px;
	height: 50px;
}

.production-slider__wrapper {
	padding-left: 12px;
}

.production-slider {
	height: 100%;
	padding: 30px 40px 10px;
	background-image: url(/img/production-slider__bg.jpg);
}

.production-slider__inner {
	height: 100%;
}

.production-slider__item {
	position: relative;
	color: #fff;
}

.production-slider__item strong {
	font-size: 60px;
}
.production-slider__item span {
	position: absolute;
	margin-left: 20px;
	font-size: 24px;
	font-family: 'Gilroy-Bold';
}

.production-slider__item:not(:first-child)::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 3px;
	background-color: #fff;
	top: -40px;
}

.production-slider__item:not(:last-child) {
	margin-bottom: 80px;
}

.production-slider__item p {
	font-size: 18px;
}

.production-slider__arrows {
	margin-top: 40px;
	display: flex;
	align-items: center;
}

.production-slider__slick-prev {
	width: 40px;
	height: 40px;
	border: none;
	transform: rotate(90deg);
	background-color: transparent;
	background-image: url(/img/icons/production-arrow.svg);
	background-repeat: no-repeat;
	background-size: 20px 40px;
	cursor: pointer;
}

.production-slider__slick-next {
	margin-left: 30px;
	width: 40px;
	height: 40px;
	border: none;
	transform: rotate(-90deg) translateX(50%);
	background-color: transparent;
	background-image: url(/img/icons/production-arrow.svg);
	background-repeat: no-repeat;
	background-size: 20px 40px;
	cursor: pointer;
}

/* ================ services ================ */

.services {
	margin-top: 200px;
	overflow-x: hidden;
}

.services__head {
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}

.services-slider__dots {
	justify-content: flex-end;
	margin-top: auto;
}

.services-slider__wrapper {
	margin-left: 40px;
	position: relative;
}

.services .slick-list {
	overflow: visible;
	padding: 0 10% 0 0;
}

.services-slider__wrapper:before {
	content: '';
	position: absolute;
	top: 20%;
	left: 0%;
	height: 60%;
	width: 200%;
	background-color: #f7f8fa;
	z-index: -1;
}

.services-slider__slide {
	position: relative;
}

.slide-text {
	left: 40px;
	bottom: 40px;
	position: absolute;
	color: #fff;
	max-width: 700px;
}

.slide-text__title {
	font-size: 28px;
	margin-bottom: 20px;
}
.slide-text__subtitle {
	font-size: 20px;
}

.services-slider__slick-next {
	font-size: 0;
	position: absolute;
	border-radius: 50%;
	border: none;
	width: 80px;
	height: 80px;
	right: 90px;
	top: calc(50% - 40px);
	background-color: #fff;
	background-image: url(../img/icons/services-arrow.svg);
	background-size: 20px 40px;
	background-position: calc(50% + 2px) calc(50% + 2px);
	background-repeat: no-repeat;
}

.services-slider__slick-prev {
	font-size: 0;
	position: absolute;
	border-radius: 50%;
	border: none;
	width: 80px;
	height: 80px;
	left: -40px;
	top: calc(50% - 40px);
	background-color: #fff;
	background-image: url(../img/icons/services-arrow.svg);
	background-size: 20px 40px;
	background-position: calc(50% + 2px) calc(50% + 2px);
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.2s ease;
	transform: rotateY(180deg);
	z-index: 2;
}

.services-slider__slick-prev:hover {
	transform: scale(1.2) rotateY(180deg);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.services-slider__slick-next:hover {
	transform: scale(1.2);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.services .slick-disabled {
	opacity: 0;
	visibility: hidden;
}

/* ================ news ================ */

.news {
	position: relative;
	margin-top: 200px;
	padding-top: 190px;
	padding-bottom: 95px;
}

.news::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50.7%;
	background-color: #f7f8fa;
	z-index: -1;
}

.news-container {
	position: relative;
}

.news__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.more-link .news__link {
	background-color: #f7f8fa;
}

.news__title {
	margin-bottom: 80px;
}

.news-big__img {
	max-width: 100%;
	margin-bottom: 30px;
}

.news-big__title {
	font-family: 'Gilroy-Medium';
	font-size: 20px;
	color: #555;
	font-weight: 500;
	margin-bottom: 20px;
	text-transform: none;
	transition: color 0.2s linear;
}

.news__link:hover .news-big__title,
.news__link:hover .news-list__item-title {
	color: var(--secondary-color);
}

.news-big__date {
	font-family: 'Gilroy-Regular';
	font-size: 14px;
	color: #b1b1b1;
	font-weight: 400;
}

.news-list__item {
	padding: 40px 0;
}

.news-list__item:last-child {
	padding-bottom: 10px;
}
.news-list__item:first-child {
	padding-top: 10px;
}

.news-list__item:not(:last-child) {
	border-bottom: 1px solid var(--color-grey);
}

.news-list__item-title {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	color: #555;
	font-weight: 500;
	margin-bottom: 20px;
	text-transform: none;
	transition: color 0.2s linear;
}

.news-list__item-date {
	font-family: 'Gilroy-Regular';
	font-size: 14px;
	color: #b1b1b1;
	font-weight: 400;
}

/* ================ clients ================ */

.clients {
	border-top: 1px solid var(--color-grey);
	border-bottom: 1px solid var(--color-grey);
}

.clients__text {
	margin-bottom: 60px;
}

.clients__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 1fr;
}

.clients__item {
	width: 100%;
	padding: 50px 0;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.2s linear;
}

.clients__wrapper:hover .clients__item {
	opacity: 0.5;
}

.clients__wrapper:hover .clients__item:hover {
	opacity: 1;
	transform: scale(1.1);
}

/* ================ footer ================ */

.footer {
	margin-top: 130px;
}

.footer__logo {
	display: block;
	margin: 0 auto 130px;
}

.footer-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}

.footer-info__title {
	margin-bottom: 30px;
	font-size: 20px;
	color: #555;
}

.footer-info-address {
	max-width: 345px;
}

.footer-info__subtitle {
	font-family: 'Gilroy-Regular';
	font-size: 24px;
	font-style: normal;
	color: #555;
	transition: color 0.3s ease;
}

.footer-info__subtitle:not(:first-child):hover {
	color: var(--secondary-color);
}

.footer-info-numbers {
	display: flex;
	flex-direction: column;
	max-width: 190px;
}

.footer-info-mail {
	max-width: 175px;
}

.footer-info___btn {
	max-width: 290px;
	width: 100%;
	height: 66px;
	border: none;
	background-color: var(--secondary-color);
	font-family: 'Gilroy-Medium';
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	transition: background-color 0.5s ease;
	cursor: pointer;
	text-transform: uppercase;
}

.footer-info___btn:hover {
	background-color: var(--primary-color);
}

.footer-nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1040px;
	width: 100%;
	margin: 0 auto 65px;
	height: 88px;
}

.footer__inner {
	width: 100%;
	height: 88px;
	background-color: #f7f8fa;
}

.footer-nav__list a {
	padding: 10px 5px;
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	transition: color 0.3s ease;
}

.footer-nav__list a:hover {
	color: var(--secondary-color);
}

.footer__copyright {
	text-align: center;
	font-size: 16px;
	color: #808080;
	padding-bottom: 50px;
}

@media (max-width: 1400px) {
	.production-info__title {
		margin-bottom: 60px;
	}

	.services-slider__slick-next {
		right: 70px;
	}
}

@media (max-width: 1200px) {
	.nav {
		display: none;
	}

	.header {
		padding: 0;
	}

	.header__number {
		display: none;
	}

	.burger {
		display: block;
	}

	.header.fixed {
		padding: 0;
		opacity: 1;
	}

	.intro__inner {
		top: 130px;
	}

	.intro__btn-video-wrapper,
	.intro__btn-video-wrapper::before {
		width: 150px;
		height: 150px;
	}

	.intro__btn-video {
		width: 70px;
		height: 70px;
	}
	.about__title {
		font-size: 28px;
		margin-bottom: 40px;
	}

	.about__text {
		font-style: 16px;
	}
	.about__text + .about__text {
		margin: 24px 0 40px;
	}

	.production-experience {
		align-items: center;
	}
	.production-experience span {
		font-size: 48px;
		width: 82px;
	}
	.production-experience p {
		font-size: 24px;
		margin-left: 20px;
	}
	.production-info__title {
		font-size: 30px;
		margin-bottom: 60px;
	}

	.production-info__text {
		font-style: 18px;
		margin-bottom: 30px;
	}

	.production-info__item p {
		font-size: 18px;
	}

	.production-info__items {
		margin-top: 76px;
	}

	.production-slider__item strong {
		font-size: 54px;
	}
	.production-slider__item span {
		font-size: 18px;
	}
	.production-slider__item p {
		font-size: 16px;
	}

	.services__title {
		font-size: 30px;
	}
	.services-slider__slick-next {
		top: calc(50% - 30px);
		right: 60px;
		width: 60px;
		height: 60px;
	}
	.services-slider__slick-prev {
		top: calc(50% - 30px);
		width: 60px;
		height: 60px;
		left: -30px;
	}
	.slide-text {
		width: 85%;
	}
	.footer-info {
		margin-bottom: 100px;
	}

	.footer-info-address {
		max-width: 220px;
	}

	.footer-info___btn {
		max-width: 140px;
		max-height: 56px;
		font-size: 14px;
	}

	.footer-info___btn {
		max-width: 190px;
	}
}

@media (max-width: 992px) {
	.news {
		padding-top: 100px;
		margin-top: 100px;
	}

	.news-big {
		padding-bottom: 40px;
		border-bottom: 1px solid var(--color-grey);
	}

	.news-list__item:first-child {
		padding-top: 40px;
	}

	.news::after {
		display: none;
	}

	.more-link .news__link {
		background-color: var(--white);
	}

	.more-link--desktop {
		display: none;
	}

	.more-link--mobile {
		margin-top: 50px;
		display: block;
	}

	.intro__title {
		font-size: 45px;
		margin-bottom: 40px;
	}

	.intro__list {
		margin-bottom: 0;
	}

	.intro__item {
		margin-bottom: 20px;
	}

	.intro-btns {
		display: none;
	}

	.intro__btn + .intro__btn {
		margin-left: 0;
	}

	.intro__links {
		display: none;
	}

	.intro__controls {
		width: 100%;
	}

	.intro-btn--flex {
		justify-content: center;
	}

	.intro__btn-video-wrapper {
		margin-top: 50px;
	}

	.intro__btn-desc {
		font-size: 16px;
		right: -104px;
	}

	.intro__btn-desc br {
		display: none;
	}

	.production {
		padding-top: 100px;
	}
	.about-slider__item img {
		width: 100%;
	}

	.production-experience {
		margin: 80px 0 60px;
	}
	.production-info {
		width: 700px;
	}
	.production-slider__wrapper {
		flex-direction: column-reverse;
	}
	.production-info__items {
		margin-top: 48px;
	}
	.production-info__item {
		text-align: center;
	}

	.production-slider {
		margin-top: 60px;
		width: 480px;
		margin: 80px auto 0;
	}
	.production-slider__item strong {
		font-size: 60px;
	}
	.production-slider__item span {
		font-size: 24px;
	}

	.services {
		margin-top: 80px;
		margin-bottom: 40px;
	}
	.services__head {
		margin-bottom: 40px;
	}
	.services__title {
		font-size: 24px;
		width: 70%;
	}
	.services-slider__wrapper {
		margin-left: 0;
		padding: 0 6px;
	}
	.services-slider__wrapper:before {
		background-color: transparent;
	}
	.services-slide__images {
		margin-right: 0;
		width: 100%;
	}
	.services .slick-list {
		overflow: hidden;
		padding: 0 0 0 0;
	}
	.services-slider__slick-next {
		right: -30px;
	}
	.services-slider__slick-prev {
		left: -30px;
	}

	.slide-text__title {
		font-size: 24px;
		margin-bottom: 12px;
	}
	.slide-text__subtitle {
		font-size: 16px;
	}

	.clients {
		padding: 80px 0;
	}
	.clients__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.clients__inner .col-6 {
		width: 100%;
	}
	.clients__title {
		margin-bottom: 40px;
	}

	.clients__item {
		padding: 10px 5px;
	}

	.clients__item:last-child {
		display: none;
	}
	.clients__text {
		margin-bottom: 40px;
	}

	.clients__wrapper {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.clients .more-link {
		margin-left: auto;
		width: 160px;
	}

	.footer {
		margin-top: 80px;
	}
	.footer-info {
		margin-bottom: 80px;
	}

	.footer__logo {
		margin-bottom: 60px;
		max-width: 400px;
	}
	.footer-info__title {
		margin-bottom: 14px;
		font-size: 14px;
	}
	.footer-info__subtitle {
		font-size: 16px;
	}
	.footer-info___btn {
		max-width: 160px;
		max-height: 50px;
		font-size: 12px;
	}
	.footer-info-address {
		max-width: 180px;
	}
	.footer-info-numbers {
		max-width: 120px;
	}
}

@media (max-width: 800px) {
	.intro-modal__video {
		width: 80vw;
		height: 30vh;
	}
}

@media (max-width: 768px) {
	.news__title {
		margin-bottom: 40px;
	}

	.intro__title {
		font-size: 36px;
	}

	.production-experience p {
		width: 68%;
	}
	.production-info__title {
		font-size: 26px;
		margin-bottom: 40px;
	}
	.info__item:not(:first-child) {
		margin-left: 0;
	}

	.services__title {
		font-size: 20px;
	}

	.slide-text__title {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.slide-text__subtitle {
		font-size: 12px;
	}
	.services-slider__slick-next {
		top: calc(50% - 20px);
		right: -20px;
		width: 40px;
		height: 40px;
		background-size: 26px 13px;
		background-position: 50% 50%;
	}
	.services-slider__slick-prev {
		top: calc(50% - 20px);
		width: 40px;
		height: 40px;
		left: -20px;
		background-size: 26px 13px;
		background-position: 50% 50%;
	}

	.clients__title {
		font-size: 28px;
	}

	.clients__wrapper {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.clients__item:last-child {
		display: flex;
	}

	.clients__item {
		height: 100px;
	}

	.footer-info {
		margin-bottom: 40px;
	}
	.footer__logo {
		margin-bottom: 40px;
		max-width: 320px;
	}
	.footer-info {
		flex-wrap: wrap;
	}
	.footer-info-address {
		max-width: 180px;
	}
	.footer-info___btn {
		margin: 20px auto 0;
	}
	.footer-nav {
		margin-bottom: 40px;
	}

	.footer-nav a {
		font-size: 14px;
	}
	.footer__copyright {
		font-size: 12px;
		padding-bottom: 30px;
	}
}

@media (max-width: 600px) {
	.intro-slider__slick-next {
		margin-left: 0;
	}

	.intro__controls {
		padding-right: 10px;
	}
}

@media (max-width: 576px) {
	.news {
		margin-top: 0;
		padding-top: 40px;
	}
	.news__title {
		font-size: 20px;
	}
	.about {
		padding-top: 40px;
	}
	.about__title {
		font-size: 24px;
	}
	.about-slider__controls {
		height: 80px;
		width: 240px;
	}
	.about-slider .slick-list {
		height: 100%;
	}
	.production{
		top: 0;
		padding-top: 40px;
	}
	.production-experience span {
		font-size: 36px;
		width: 67px;
	}
	.production-experience p {
		font-size: 20px;
		margin-left: 4px;
		line-height: 20px;
	}
	.production-info__title {
		font-size: 20px;
		margin-bottom: 40px;
	}

	.production-info__text {
		font-size: 14px;
	}
	.production-info__item p {
		font-size: 14px;
	}

	.production-slider {
		margin-top: 60px;
		width: 90%;
		margin: 80px auto 0;
	}
	.production-slider__item strong {
		font-size: 36px;
	}
	.production-slider__item span {
		font-size: 16px;
	}

	.production-info__item:not(:first-child) {
		margin-left: 0;
	}
	.services {
		margin-top: 40px;
	}
	.services__title {
		font-size: 18px;
	}

	.clients__title {
		font-size: 18px;
		margin-bottom: 20px;
		text-align: center;
	}
	.clients__text {
		font-size: 15px;
		text-align: center;
	}

	.clients__item img {
		max-height: 40px;
		max-width: 80px;
	}
	.clients .more-link a {
		font-size: 14px;
	}

	.footer {
		margin-top: 40px;
	}
	.footer-info-item {
		margin-bottom: 20px;
		text-align: center;
	}
	.footer-info {
		flex-direction: column;
		align-items: center;
	}
	.footer-info__title {
		margin-bottom: 10px;
	}
	.footer-info__subtitle {
		font-size: 14px;
	}
	.footer-info-address {
		max-width: 280px;
	}
	.footer-info___btn {
		margin-top: 0;
	}
	.footer__logo {
		margin-bottom: 20px;
		max-width: 60vw;
	}
	.footer-nav {
		display: none;
	}
	.footer__inner {
		background-color: transparent;
	}
	.footer__copyright {
		font-size: 10px;
		padding-bottom: 15px;
	}
}

@media (max-width: 480px) {
	.intro__title {
		font-size: 27px;
	}

	.intro__item {
		font-size: 18px;
	}

	.intro__btn-desc {
		left: 58%;
		top: 90%;
		transform: translate(-50%, -50%);
	}

	.about__title {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.about__text {
		font-size: 12px;
	}
	.production {
		overflow: hidden;
	}
	.production-info__title {
		font-size: 16px;
	}
	.production-info__item p {
		font-size: 12px;
	}
	.production-slider__item p {
		font-size: 12px;
	}
	.production-slider__item:not(:last-child) {
		margin-bottom: 40px;
	}
	.production-slider__item:not(:first-child)::before {
		top: -20px;
	}

	.services-slider__dots {
		display: none;
	}
	.slide-text {
		max-width: 85%;
		left: 30px;
		bottom: 20px;
	}
	.slide-text__title {
		font-size: 12px;
		margin-bottom: 6px;
	}
	.slide-text__subtitle {
		font-size: 8px;
	}

	.services-slider__slick-next {
		top: calc(50% - 14px);
		right: -14px;
		width: 28px;
		height: 28px;
		background-size: 14px 8px;
		background-position: 50% 50%;
	}
	.services-slider__slick-prev {
		top: calc(50% - 14px);
		width: 28px;
		height: 28px;
		left: -14px;
		background-size: 14px 8px;
		background-position: 50% 50%;
	}
	.services__head {
		justify-content: center;
		margin-bottom: 20px;
	}
	.services__title {
		font-size: 16px;
		width: 91%;
		text-align: center;
	}

	.clients__title {
		font-size: 16px;
	}
	.clients__text {
		font-size: 12px;
	}
}
