.clients {
	border-bottom: 1px solid var(--color-grey);
}

.clients__text {
	margin-bottom: 60px;
}

.clients__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 1fr;
}

.clients__item {
	width: 100%;
	padding: 50px 0;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.2s linear;
}

.clients__wrapper:hover .clients__item {
	opacity: 0.5;
}

.clients__wrapper:hover .clients__item:hover {
	opacity: 1;
	transform: scale(1.05);
}