<section class="section about">
	<div class="container">
		<div class="row gy-5">
			<div class="col-xs-12 col-lg-6 col-xl-7">
				<h2 class="about__title section__title" id="about">
					Завод «КОБЛИК» – меняем <br />историю к лучшему
				</h2>
				<p class="about__text section__desc">
					Предприятие «КОБЛИК» является производителем и поставщиком
					металлопроката с полимерным покрытием, а также предоставляет
					сопутствующие услуги по обработке металла: резка, рубка, гибка,
					перфорирование.
				</p>
				<p class="about__text section__desc">
					Производственные мощности завода позволяют осуществлять разгрузку и
					складирование комплектующих, производство и сборку изделий из металла,
					хранение, погрузку и доставку заказов.
				</p>
				<div class="more-link more-link--desktop">
					<a href="#" class="about__link section__link">Подробнее о компании</a>
					<svg
						class="more-link__icon"
						width="9"
						height="12"
						viewBox="0 0 24 24"
					>
						<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
					</svg>
				</div>
			</div>
			<div class="col-xs-12 col-lg-6 col-xl-5">
				<div class="about-slider__wrapper">
					<div class="about-slider">
						<div class="about-slider__item">
							<img src="./img/about-img.jpg" alt="about" />
						</div>
						<div class="about-slider__item">
							<img src="./img/about-img.jpg" alt="about" />
						</div>
						<div class="about-slider__item">
							<img src="./img/about-img.jpg" alt="about" />
						</div>
						<div class="about-slider__item">
							<img src="./img/about-img.jpg" alt="about" />
						</div>
						<div class="about-slider__item">
							<img src="./img/about-img.jpg" alt="about" />
						</div>
						<div class="about-slider__item">
							<img src="./img/about-img.jpg" alt="about" />
						</div>
						<div class="about-slider__item">
							<img src="./img/about-img.jpg" alt="about" />
						</div>
					</div>
					<div class="about-slider__controls">
						<div class="about-slider__controls-wrapper"></div>
						<div id="counter" class="about-slider__counter"></div>
					</div>
				</div>
			</div>

			<div class="more-link more-link--mobile about-link--mobile">
				<a href="#" class="about__link section__link">Подробнее о компании</a>
				<svg class="more-link__icon" width="9" height="12" viewBox="0 0 24 24">
					<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
				</svg>
			</div>
		</div>
	</div>
</section>
