<section class="section clients">
	<div class="container">
		<div class="clients__inner row gy-3">
			<div class="col-6">
				<h2 class="clients__title section__title">
					Приоритетный подрядчик <br />
					ведущих компаний России
				</h2>
				<p class="clients__text section__desc">
					Мы готовы стать вашим надежным партнёром <br />
					и решать новые амбициозные задачи.
				</p>
				<div class="more-link more-link--desktop">
					<a href="#" class="about__link section__link">Все клиенты</a>
					<svg
						class="more-link__icon"
						width="9"
						height="12"
						viewBox="0 0 24 24"
					>
						<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
					</svg>
				</div>
			</div>

			<div class="col-6">
				<div class="clients__wrapper">
					<div class="clients__item">
						<img src="./img/gazprom.png" alt="client" class="clients__img" />
					</div>
					<div class="clients__item">
						<img src="./img/sibur.png" alt="client" class="clients__img" />
					</div>
					<div class="clients__item">
						<img src="./img/rosneft.png" alt="client" class="clients__img" />
					</div>
					<div class="clients__item">
						<img src="./img/lukoil.png" alt="client" class="clients__img" />
					</div>
					<div class="clients__item">
						<img src="./img/rosatom.png" alt="client" class="clients__img" />
					</div>
					<div class="clients__item">
						<img src="./img/rusal.png" alt="client" class="clients__img" />
					</div>
					<div class="clients__item">
						<img src="./img/novatek.png" alt="client" class="clients__img" />
					</div>
					<div class="clients__item">
						<img src="./img/nlmk.png" alt="client" class="clients__img" />
					</div>
					<div class="clients__item">
						<img src="./img/mechel.png" alt="client" class="clients__img" />
					</div>
				</div>
			</div>

			<div class="more-link more-link--mobile">
				<a href="#" class="news__link section__link">Все новости</a>
				<svg class="more-link__icon" width="9" height="12" viewBox="0 0 24 24">
					<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
				</svg>
			</div>
		</div>
	</div>
</section>
