<footer class="footer">
	<div class="container">
		<img src="./img/big-logo.png" alt="" class="footer__logo" />

		<div class="footer-info" id="footer">
			<div class="footer-info-item footer-info-address">
				<h5 class="footer-info__title">Мы находимся здесь</h5>
				<address class="footer-info__subtitle">
					Нижегородская обл., г. Кстово, мкр Северный, квартал Стройбаза, проезд
					10, дом №1
				</address>
			</div>
			<div class="footer-info-item footer-info-numbers">
				<h5 class="footer-info__title">Связаться с нами</h5>
				<a
					class="footer-info__subtitle footer-info__subtitle--hover"
					href="tel:+78314593166"
					>+7 (831) 459 31 66</a
				>
				<a
					class="footer-info__subtitle footer-info__subtitle--hover"
					href="tel:+79990711362"
					>+7 (999) 071 13 62</a
				>
			</div>
			<div class="footer-info-item footer-info-mail">
				<h5 class="footer-info__title">Написать нам</h5>
				<a
					class="footer-info__subtitle footer-info__subtitle--hover"
					href="mailto:sales@koblik.ru"
					>sales@koblik.ru</a
				>
			</div>
			<button class="footer-info___btn">Оставить заявку</button>
		</div>
	</div>
	<div class="footer__inner">
		<div class="container">
			<ul class="footer-nav">
				<li class="footer-nav__list" data-scroll="intro">
					<a href="">Главная</a>
				</li>
				<li class="footer-nav__list" data-scroll="about">
					<a href="">О компании</a>
				</li>
				<li class="footer-nav__list" data-scroll="services">
					<a href="">Услуги</a>
				</li>
				<li class="footer-nav__list" data-scroll="production">
					<a href="">Справочник</a>
				</li>
				<li class="footer-nav__list" data-scroll="news">
					<a href="">Новости</a>
				</li>
				<li class="footer-nav__list" data-scroll="footer">
					<a href="">Контакты</a>
				</li>
			</ul>
			<p class="footer__copyright">
				2021 © ООО «КОБЛИК»<br />
				Прокат с полимерным покрытием, металлообработка<br />
				<a href="#">Карта сайта</a> <span>·</span>
				<a href="#">Политика конфиденциальности</a>
				<span class="footet__last-dot">·</span>
				<span class="copyright__develop"
					>Разработка сайта: <a href="#" target="_blank">Ji-Touch</a></span
				>
			</p>
		</div>
	</div>
</footer>
