<header class="header">
	<div class="container">
		<div class="row">
			<div class="header__wrapper">
				<a href="#" class="header__logo">
					<img src="./img/logo.png" alt="logo" />
				</a>

				<a href="#" class="header__logo header__logo--inversed">
					<img src="./img/logo-inversed.png" alt="logo" />
				</a>
				<nav class="nav">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="#" class="nav__link" data-scroll="intro">Главная</a>
						</li>
						<li class="nav__item nav-dropdown">
							<a href="#" class="nav__link nav__link--dropdown">О компании</a>
							<div class="nav-dropdown__menu">
								<a href="#" class="nav__link" data-scroll="about">О компании</a>
								<a href="#" class="nav__link">История</a>
								<a href="#" class="nav__link">Карьера</a>
								<a href="#" class="nav__link">Документы</a>
								<a href="#" class="nav__link">Закупки</a>
							</div>
						</li>
						<li class="nav__item nav-dropdown">
							<a href="#" class="nav__link nav__link--dropdown">Услуги</a>
							<div class="nav-dropdown__menu nav-dropdown__menu--big">
								<a href="#" class="nav__link" data-scroll="services"
									>Прокат с полимерным покрытием</a
								>
								<a href="#" class="nav__link">Металлообработка</a>
								<a href="#" class="nav__link">Металлоизделия</a>
							</div>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Технологии</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link" data-scroll="production"
								>Справочник</a
							>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link" data-scroll="news">Новости</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link" data-scroll="footer">Контакты</a>
						</li>
					</ul>
				</nav>
				<a href="tel:+78314593166" class="header__number">+7 (831) 459 31 66</a>

				<button class="burger" id="burger-btn">
					<span class="burger__item">burger</span>
				</button>
			</div>
		</div>
	</div>

	<div class="burger__menu" id="burger-menu">
		<ul class="nav__list">
			<li class="nav__item">
				<a href="#" class="nav__link burger__link" data-scroll="intro"
					>Главная</a
				>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link burger__link" data-scroll="about"
					>О компании</a
				>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link burger__link" data-scroll="services"
					>Услуги</a
				>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link burger__link">Технологии</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link burger__link" data-scroll="production"
					>Справочник</a
				>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link burger__link" data-scroll="news"
					>Новости</a
				>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link burger__link" data-scroll="footer"
					>Контакты</a
				>
			</li>
		</ul>
		<a href="tel:+78314593166" class="header__number burger--link"
			>+7 (831) 459 31 66</a
		>
	</div>
</header>
