<section class="intro" id="intro">
	<div class="intro-slider">
		<div class="intro-slider__item">
			<img src="./img/intro_bg.jpg" alt="intro-img" class="intro-slider__img" />
		</div>
		<div class="intro-slider__item">
			<img src="./img/intro_bg.jpg" alt="intro-img" class="intro-slider__img" />
		</div>
		<div class="intro-slider__item">
			<img src="./img/intro_bg.jpg" alt="intro-img" class="intro-slider__img" />
		</div>
		<div class="intro-slider__item">
			<img src="./img/intro_bg.jpg" alt="intro-img" class="intro-slider__img" />
		</div>
	</div>

	<div class="container">
		<div class="intro__inner container">
			<h1 class="intro__title">
				Прокат с полимерным покрытием металлообработка
			</h1>
			<div class="row">
				<div class="intro-btns">
					<a href="#" class="intro__btn">
						<img src="./img/brush.png" alt="brush" class="btn__img" />
						<p>Окраска</p>
					</a>
					<a href="#" class="intro__btn">
						<img
							src="./img/metal.png"
							alt="metal"
							class="btn__img"
							style="left: 17px"
						/>
						<p>Металлообработка</p>
					</a>
					<a href="#" class="intro__btn">
						<img
							src="./img/vents.png"
							alt="vents"
							class="btn__img"
							style="left: 17px"
						/>
						<p>вентиляция</p>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="intro-links col-xl-3 col-lg-5 col-md-12 col-sm-12">
					<a href="" class="intro__link intro__mail-link">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<span>Оставить заявку</span>
					</a>
					<a href="" class="intro__link intro__call-link">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<span>Заказать звонок</span>
					</a>
				</div>
				<div class="col-xl-9 col-lg-7 col-md-12 col-sm-12 intro-btn--flex">
					<div class="intro__btn-video-wrapper">
						<button class="intro__btn-video">
							<span>fdf</span>
						</button>
						<span class="intro__btn-desc"
							>Видео <br />
							о компании</span
						>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="intro__controls">
		<a href="#" class="intro__down-btn" data-scroll="about"></a>
	</div>

	<div class="intro-modal__overlay">
		<div class="intro-modal modal--1" data-target=".intro-modal">
			<div class="intro-modal__content">
				<button class="intro-modal__close-btn">
					<span>close</span>
				</button>
				<iframe
					class="intro-modal__video"
					src="https://www.youtube.com/embed/r_KHix5CXws"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
				>
				</iframe>
			</div>
		</div>
	</div>
</section>
