<section class="news">
	<div class="container news-container">
		<div class="news__wrapper">
			<h2 class="news__title col-xl-4 col-lg-5" id="news">
				Последние новости компании
			</h2>
			<div class="more-link more-link--desktop">
				<a href="#" class="news__link section__link">Все новости</a>
				<svg class="more-link__icon" width="9" height="12" viewBox="0 0 24 24">
					<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
				</svg>
			</div>
		</div>

		<div class="news-body row justify-content-between">
			<a
				href="#"
				class="news__link news-big col-xl-6 col-lg-6 col-md-12 col-sm-12"
			>
				<div class="news-big__img-wrapper">
					<img class="news-big__img" src="./img/news.jpg" alt="" />
				</div>
				<h4 class="news-big__title">
					Модернизация производства: введена в строй линия непрерывной правки
				</h4>
				<time class="news-big__date" datetime="2021-10-04">04.10.2021</time>
			</a>
			<div class="news-list__wrapper col-xl-5 col-lg-5 col-md-12 col-sm-12">
				<ul class="news-list">
					<li class="news-list__item">
						<a href="#" class="news__link">
							<h4 class="news-list__item-title">
								Производственное объединение КОБЛИК повышает эффективность
								экспортных продаж
							</h4>
							<time class="news-list__item-date" datetime="2021-10-04"
								>23.08.2021</time
							>
						</a>
					</li>
					<li class="news-list__item">
						<a href="#" class="news__link">
							<h4 class="news-list__item-title">
								Пандемия COVID-19 - не помеха для полноценной работы и
								своевременного выполнения заказов
							</h4>
							<time class="news-list__item-date" datetime="2021-10-04"
								>11.07.2021</time
							>
						</a>
					</li>
					<li class="news-list__item">
						<a href="#" class="news__link">
							<h4 class="news-list__item-title">Поздравляем с Днём России!</h4>
							<time class="news-list__item-date" datetime="2021-10-04"
								>12.06.2021</time
							>
						</a>
					</li>
				</ul>
				<div class="more-link more-link--mobile">
					<a href="#" class="news__link section__link">Все новости</a>
					<svg
						class="more-link__icon"
						width="9"
						height="12"
						viewBox="0 0 24 24"
					>
						<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>
