<section class="production">
	<div class="container">
		<div class="production-experience row">
			<span class="col-1">46</span>
			<p class="col-3">лет опытa металлообработки</p>
		</div>

		<div
			class="production-slider__wrapper row justify-content-between"
			id="counts"
		>
			<div class="production-slider col-sm-12 col-md-12 col-lg-4 col-xl-4">
				<div class="production-slider__inner">
					<div class="production-slider__slide">
						<div class="production-slider__item">
							<strong class="production-slider__anim-number">47.23</strong
							><span> га</span>
							<p>Площадь территории завода</p>
						</div>
					</div>

					<div class="production-slider__slide">
						<div class="production-slider__item">
							<strong class="production-slider__anim-number">9</strong>
							<span> тыс. кв.<br />метров</span>
							<p>Производственные площади</p>
						</div>
					</div>

					<div class="production-slider__slide">
						<div class="production-slider__item">
							<strong class="production-slider__anim-number">5</strong>
							<span> тыс. кв.<br />метров</span>
							<p>Производственные мощности</p>
						</div>
					</div>

					<div class="production-slider__slide">
						<div class="production-slider__item">
							<strong class="production-slider__anim-number">47.23</strong
							><span> га</span>
							<p>Площадь территории завода</p>
						</div>
					</div>

					<div class="production-slider__slide">
						<div class="production-slider__item">
							<strong class="production-slider__anim-number">9</strong>
							<span> тыс. кв.<br />метров</span>
							<p>Производственные площади</p>
						</div>
					</div>

					<div class="production-slider__slide">
						<div class="production-slider__item">
							<strong class="production-slider__anim-number">5</strong>
							<span> тыс. кв.<br />метров</span>
							<p>Производственные мощности</p>
						</div>
					</div>
				</div>
				<div class="production-slider__arrows"></div>
			</div>

			<div class="production-info col-sm-12 col-md-12 col-lg-7 col-xl-7">
				<h2 class="production-info__title section__title" id="production">
					Производство по обработке <br />алюминиевого металлопроката
				</h2>
				<p class="production-info__text section__desc">
					На сегодняшний день завод «КОБЛИК» осуществляет все необходимые виды
					работ с оцинкованным металлом, алюминием и черным металлом.
				</p>
				<p class="production-info__text section__desc">
					Высочайшее качество продукции, сжатые сроки и минимальные цены,
					компетентность в подборе необходимого оборудования – вот те важные
					профессиональные критерии, которым неуклонно следуют в своей работе
					все специалисты предприятия.
				</p>
				<ul class="production-info__items">
					<li class="production-info__item">
						<img
							class="production-info__item-img"
							src="img/quality.svg"
							alt="Знак качества"
						/>
						<p>Гарантия качества продукции</p>
					</li>
					<li class="production-info__item">
						<img class="production-info__item-img" src="./img/boxes.svg" alt="Коробки"/>
						<p>Бесперебойность поставок</p>
					</li>
					<li class="production-info__item">
						<img class="production-info__item-img" src="./img/price.svg" alt="Бирка"/>
						<p>Гибкая ценовая политика</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
