<section class="services">
	<div class="container services-container">
		<div class="services__head">
			<h2 class="services__title col-xl-6">
				Продукция, которая точно соответствует вашим задачам
			</h2>
			<div class="services-slider__dots"></div>
		</div>
		<div class="services-slider__wrapper">
			<div class="services-slider">
				<a class="services-slider__slide">
					<div class="slide-text">
						<h5 class="slide-text__title">Прокат с полимерным покрытием</h5>
						<p class="slide-text__subtitle">
							Предлагаем весь спектр алюминиевого металлопроката с полимерным
							покрытием с гарантией качества и на самых комфортных условиях.
						</p>
					</div>
					<img
						class="services-slide__images col-11"
						src="./img/services-slide_1.jpg"
						alt=""
					/>
				</a>
				<a class="services-slider__slide">
					<div class="slide-text">
						<h5 class="slide-text__title">Прокат с полимерным покрытием</h5>
						<p class="slide-text__subtitle">
							Предлагаем весь спектр алюминиевого металлопроката с полимерным
							покрытием с гарантией качества и на самых комфортных условиях.
						</p>
					</div>
					<img
						class="services-slide__images col-11"
						src="./img/services-slide_1.jpg"
						alt=""
					/>
				</a>
				<a class="services-slider__slide">
					<div class="slide-text">
						<h5 class="slide-text__title">Прокат с полимерным покрытием</h5>
						<p class="slide-text__subtitle">
							Предлагаем весь спектр алюминиевого металлопроката с полимерным
							покрытием с гарантией качества и на самых комфортных условиях.
						</p>
					</div>
					<img
						class="services-slide__images col-11"
						src="./img/services-slide_1.jpg"
						alt=""
					/>
				</a>
			</div>
		</div>

		<div class="services__mobile-content">
			<div class="services__mobile-slider">
				<div class="mobile-slider__item">
					<h5 class="slide-text__title">Прокат с полимерным покрытием</h5>
					<p class="slide-text__subtitle">
						Предлагаем весь спектр алюминиевого металлопроката с полимерным
						покрытием с гарантией качества и на самых комфортных условиях.
					</p>
				</div>
				<div class="mobile-slider__item">
					<h5 class="slide-text__title">Прокат с полимерным покрытием</h5>
					<p class="slide-text__subtitle">
						Предлагаем весь спектр алюминиевого металлопроката с полимерным
						покрытием с гарантией качества и на самых комфортных условиях.
					</p>
				</div>
				<div class="mobile-slider__item">
					<h5 class="slide-text__title">Прокат с полимерным покрытием</h5>
					<p class="slide-text__subtitle">
						Предлагаем весь спектр алюминиевого металлопроката с полимерным
						покрытием с гарантией качества и на самых комфортных условиях.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
